{
  "*.{js,mjs,jsx,ts,mts,tsx}": [
    "biome check --write --no-errors-on-unmatched --files-ignore-unknown=true"
  ],
  "*.{css}": [
    "biome check --write --no-errors-on-unmatched --files-ignore-unknown=true"
  ],
  "*.{md,json,xml,html,sh,yml,yaml}": [
    "biome format --write --no-errors-on-unmatched --files-ignore-unknown=true"
  ]
}
